.container {
  padding-top: 24px;
  max-width: 800px;
  margin: 0px auto;
  position: relative;
  flex-grow: 1;
}
.container-big {
  max-width: 1200px;
  padding-top: 24px;
  margin: 0px auto;
  flex-grow: 1;
}
.container-big > .menu {
  max-width: 800px;
}
.center {
  text-align: center;
}

.gray {
  color: gray;
}
section {
  padding: 24px 0px;
}

.overflow-elipsis {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-card {
  padding: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.add-card > .icon {
  font-size: 32px;
}

.form-add-restaurant {
  padding-top: 20px;
}
.row {
  display: "flex";
  justify-content: "space-around";
  align-items: "center";
  padding: 8px;
  gap: 8px;
}
